.moviesInner {
    padding-top: 50px;
   
}

.titleInner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title {
    margin: 0;
    font-size: 22px;
    line-height: 1.2;

}

.link {
    border: 1px solid var(--button-border-color);
    padding: 8px 14px;
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    cursor: pointer;
    border-radius: 7px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
     margin-bottom: 50px;
    /* margin-bottom: 50px; */
}
